body {
  background-image: url(https://images.unsplash.com/photo-1529528744093-6f8abeee511d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-position: top center;
  background-repeat: no-repeat;
  // background-attachment: local;
  background-size: 100vw;
}

.App {
  text-align: center;
}

#get-weather {
  width: 30rem;
  margin: auto;
  text-align: center;
}

#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#weather-card {
width: 10rem;
height:10rem;
margin:10px;
text-align: center;
background-color: transparent;
}
